#footer
  .container.text-center
    div
      | © 2014 Planned Parenthood, Western PA
    div
      strong A Pittsburgh Initiative
    div
      | Code licensed under
      a(href='http://opensource.org/licenses/mit-license.html')  MIT License
