extends layout

block content
  h1 Welcome to Planned Parenthood
  p.lead
    | A site answering all sexual health questions. 
  p
    | We strive to let students ask 
    | each other about sex and sexuality anonymously to avoid the "awkward barrier" 
    | preventing many of them from asking what they really need to know. 
